{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime"
    ],
    "env": {
        "development": {
            "plugins": [
                [
                    "@babel/plugin-transform-react-jsx",
                    {
                        "transforms": [
                            {
                                "transform": "react-transform-hmr",
                                "imports": ["react"],
                                "locals": ["module"]
                            }
                        ]
                    }
                ]
            ]
        }
    }
}
